  <div class="container-fluid" style="margin-top: 54px">
    <div class="row">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Rocky Mountain Glass, Tint & Cars</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  </div>


  <div class="container">
    <div class="row" style="flex-direction:column">
      <carousel>
        <slide>
          <div class="text-center py-5 bg-secondary text-white">
            <h3>We treat people right</h3>
            <p>We are committed to building the loyalty of our customers and ensuring that the satisfaction of their needs is central to everything we do.</p>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 bg-secondary text-white">
            <h3>Professional team</h3>
            <p>Our management staff comes together with more than 40 years combined experience.</p>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 bg-secondary text-white">
            <h3>Experience the difference</h3>
            <p>We know the market and we know how to treat people right.</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container text-uppercase text-white">

    <!-- Three columns of text below the carousel -->
    <div class="row bg3" style="height: 500px">
      <div class="col-lg-6" style="margin-top: 275px">
        <h2>Quality and professional service</h2>
        <h4>We pride ourselves in customer satisfaction with providing quality and professional service.</h4>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6" style="margin-top: 275px">
        <h2>Less stress</h2>
        <p>We know car buying can be stressful, 
our commitment is to make sure your experience is seamless and  transparent.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <div class="row featurette bg2">
      <div class="col-md-7">
        <h2 class="featurette-heading">We care about what you want</h2>
        <p class="h4">Our goal is to not only earn a new client today but a lifetime customer for years to come.</p>
      </div>
      <div class="col-md-5">
        <div style="width: 500px; height: 500px;">&nbsp;</div>
      </div>
    </div>

    <div class="row featurette bg">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading" style="margin-top:275px">Oh yeah, it's that good. <span style="color:rgb(25, 200, 253)">See for yourself.</span></h2>
        <p class="h4">Our mission is to improve upon the car buying experience by offering clear and accurate 
          information to every client. </p>
      </div>
      <div class="col-md-4 order-md-1">
        <div style="width: 500px; height: 500px;">&nbsp;</div>
      </div>
    </div>

    <div class="row justify-content-center">
      <h4>Contact and Location</h4>
    </div>
    <div class="row featurette">
      <div class="col-md-2">
        <address>
          <strong>Clint Mcintosh</strong>
          <br/>801-473-3350
        </address> 
      </div>
      <div class="col-md-2">
        <address>
          <strong>Mark Robinson</strong>
          <br/>801-830-2946
        </address> 
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4929071346673!2d-111.79316368492407!3d40.37576697936999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8168aebd72a3%3A0x6888ec9f0f10c6cf!2sRocky+Mountain+Glass+%26+Tint!5e0!3m2!1sen!2sus!4v1523072450657" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <!-- <footer class="container">
    <p class="float-right"><a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Back to top</a></p>
    <p>© 2017-2018 Company, Inc. · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Terms</a></p>
  </footer> -->
