.bg { 
    /* The image used */
    background-image: url("../../assets/3.jpg");

    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 { 
    /* The image used */
    background-image: url("../../assets/0.jpg");

    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 { 
    /* The image used */
    background-image: url("../../assets/2.jpg");

    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 900px) {
    .m-bg-top {
        margin-top: 275px;
    }
}